*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { 
  background: black;
}

.header {
  background-color: aqua;
  height: 10vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.home-text {
  font-weight: bold;
  margin-left: 5%;
}

.center-box {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  height: 60vh;
  width: 70vw;
  background: white;

}

.nav-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.back-btn, .next-btn {
  color: white;
}

.edit-btn, .delete-btn, .new-btn {
  background: aqua;
  border: aqua;
  padding: 5px 15px;
  border-radius: 10px;
}